body {
	background-color: #4682B4;
	width: 100%;
	padding-left: 300px;
}

#content {
	margin-top: 100px;
	border: 2px solid black;
	padding: 50px;
	width: 50%;
	border-radius: 10px;
	background-color: #D3D3D3;

}

#login_button {
	background-color: black;
	color: white;
	padding: 10px;
	border-radius: 10px;
	margin-left: 167px;
	margin-top: 21px;
}
